<!doctype html>
<html>
<head>
  <title>Haus of Rihanna</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">
    <div class="jumbotron text-center">
      <h1>Haus of Rihanna</h1>
      <img src="img/rih.jpg" alt="Rihana Photo">
      <p>Login or Signup:</p>
      <section>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
      </section>
    </div>
  </div>

  </body>
  </html>
