body{
  padding-top:80px;
  word-wrap:break-word;
  color:rgb(212, 177, 147)
}
img{
  margin-left: 26%;
  width: 48%;
}
.blog {
    display: block;
    width: 80%;
    height: 250px;
}

h1{
  text-align: center;
}

p{
  text-align: center;
}

section{
  margin-left: 46%;
}
.container{
  background-color:rgb(44, 99, 105);
}
.bottom{
  background-color: lightgrey;
  width:50%;
  margin-left: 25%;
}
.gif{
  margin-left: 1%;
 width: 30%;
}
.fa-heart{
  color:red;
}
.fa-angry{
  color:yellow;
}
.fa-grin-squint-tears{
  color:yellow;
}
.fa-trash{
  color:white;
}
